APP_ENV=dev
APP_SECRET=change-me
APP_SHARE_DIR=var/share

DEFAULT_URI=http://localhost:8000

POSTGRES_VERSION=16
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=change-me
DATABASE_URL="postgresql://app:change-me@127.0.0.1:5432/app?serverVersion=16&charset=utf8"

MAILER_DSN=smtp://127.0.0.1:1025

APP_INTERNAL_TOKEN=change-this-token

N8N_HOST=localhost
N8N_PROTOCOL=http
N8N_EDITOR_BASE_URL=http://localhost:5678
N8N_WEBHOOK_URL=http://localhost:5678
N8N_TIMEZONE=Europe/Paris

OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=qwen3:4b